footer {
  width: 1366px;
  height: 419.48px;
  background-color: 1366px;
}

.footer-line {
  /* Line 74 */

  position: absolute;
  width: 1248.68px;
  height: 0px;
  left: 54.79px;
  top: 2959.02px;

  border: 1px solid #efefef;
}
.copyright-text {
  /* Copyright ©️ 2020 rydeu.com All rights reserved. */

  position: absolute;
  width: 322.31px;
  height: 21.59px;
  left: 521.84px;
  top: 2986.39px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #ffffff;
}
.rydeu-img-footer {
  /* Rydeu 2 */

  position: absolute;
  width: 121.12px;
  height: 39.15px;
  left: 129.11px;
  top: 2688.34px;
}
.fp1 {
  /* Solution for all ground transfers */

  position: absolute;
  width: 203px;
  height: 14px;
  left: 133.19px;
  top: 2732.84px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;

  color: #ffffff;
}
.fp2 {
  /* Connect with us */

  position: absolute;
  width: 100%;
  height: 14px;
  left: 129.11px;
  top: 2795.39px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;

  color: #efefef;
}
.fp3 {
  /* Company */

  position: absolute;
  width: 77px;
  height: 17px;
  left: 482px;
  top: 2688.34px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #ffffff;
}
.fp4 {
  /* About us Privacy Policy Terms and conditions Imprint Careers / Jobs Sitemap */

  position: absolute;
  width: 210px;
  height: 163.11px;
  left: 482px;
  top: 2720.84px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 240%;
  /* or 31px */
  letter-spacing: 0.04em;

  color: #efefef;
}
.fp5 {
  /* Help Center */

  position: absolute;
  width: 102px;
  height: 34px;
  left: 782px;
  top: 2688.34px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #ffffff;
}
.fp6 {
  /* Contact us Customer FAQs Business FAQs Supplier FAQs */

  position: absolute;
  width: 210px;
  height: 163.11px;
  left: 782px;
  top: 2720.84px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 240%;
  /* or 31px */
  letter-spacing: 0.04em;

  color: #efefef;
}
.fp7 {
  /* Our Services */

  position: absolute;
  width: 100%;
  height: 17px;
  left: 1082px;
  top: 2690.34px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #ffffff;
}
.fp8 {
  /* Airport Transfer City Transfer Hourly Transfer Business Supplier */

  position: absolute;
  width: 210px;
  height: 163.11px;
  left: 1082px;
  top: 2720.84px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 240%;
  /* or 31px */
  letter-spacing: 0.04em;

  color: #efefef;
}
